/* Global Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0062cc;
}

/* Header Styles */
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #007bff;
}

/* Main Styles */
main {
    /* padding-top: 2rem; */
}

.container {
    max-width: 960px;
    /* max-width: 300px; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
}

.container h3 {
    font-size: 2rem;
}

.container p {
    font-size: 1.2rem;
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container li {
    display: inline-block;
    margin-right: 1rem;
}

.container li:last-child {
    margin-right: 0;
}

.container button {
    margin-top: 1rem;
}

/* Footer Styles */
